

<div id="employees">

  <h1><strong>Employees:</strong></h1>
  <% if current_user.is_admin? %>
    <div>
      Jump To: <span v-for="position in employees"><a v-bind:href="'#' + position.name"><button>{{position.name}}</button> </a></span>
    </div>
    <br>
  <% end %>


  <div v-for="position in employees" class="test">
      <h2 class="test2" v-bind:id="position.name" style="text-decoration: underline;"><strong>{{position.name}}:</strong></h2>
    <div class="row">
      <br>
      <div v-for="employee in position.managers" class="col-sm-12, col-md-6">
        <h4><strong><a v-bind:href="'/employees/' + employee.id"><span v-if="employee.manager">MANAGER - </span>{{employee.full_name}}</a></strong></h4>
        <h4>Email: <a v-bind:href="'mailto:' + employee.email">{{employee.email}}</a></h4>
        <h4>Phone: {{employee.phone}}</h4>
        <hr>
      </div>
      <div v-for="employee in position.employees" class="col-sm-12, col-md-6">
        <h4><strong><a v-bind:href="'/employees/' + employee.id">{{employee.full_name}}</a></strong></h4>
        <h4>Email: <a v-bind:href="'mailto:' + employee.email">{{employee.email}}</a></h4>
        <h4>Phone: {{employee.phone}}</h4>
        <hr>
      </div>
    </div>
        <h5 class="col-sm-12" style="text-align: right;"><a href="#top">Back to Top</a></h5>
        <br>
        <br>
  </div>
</div>



<div class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <h4>First Name: <input type="text" v-model="newFirstName"> </h4>
        <h4>Last Name: <input type="text" v-model="newLastName"></h4>
        <h4>Email: <input type="text" v-model="newEmail"></h4>
        <h4>Position: <input type="text" v-model="newPositionId"></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" v-on:click="addEmployee()">Save changes</button>
      </div>
    </div>
  </div>
</div>