
<h1>Add New Employee</h1>
<hr>

<%= form_tag '/employees', method: :post do %>
  <div>
    <h2>First Name: <input type="text" name="first_name"></h2>
  </div>
  <div>
    <h2>Last Name: <input type="text" name="last_name"></h2>
  </div>
  <div>
    <h2>Email: <input type="text" name="email"></h2>
  </div>
  <div>
    <h4>Admin rights: <input id="pet_dog" name="is_admin?" type="checkbox" value="true" />

    Manager: <input id="pet_dog" name="is_manager?" type="checkbox" value="true" /></h4>

  <% if current_user && current_user.is_admin? %>
    <h2>Position:</h2>
  </div>
  <div>


      <% Position.where(company_id: current_user.company_id).each do |pos| %>
        <input id="position_id" name="position_id" type="radio" value="<%= pos.id %>" />
        <label for="position_id"><%= pos.position_name %></label>

      <% end %>
  <% end %>
  </div>
  <br>
  <input type="submit" value="Add Employee">
<% end %>
