<div id="calendar">
  <h1 style="line-height: 10px">Shift Calendar</h1>
  <div id="add-shift">
    <a href="/shifts/new">Add New Shift</a>
  </div>
  <table>
  <!-- Month -->
    <tr>
      <th colspan='7' class='main-calendar-head'>
        <button class="left-arrow" v-on:click="changeMonth(-1), createPopover()"><</button>
        {{months[currentMonth]}} - {{currentYear}}
        <button class="right-arrow" v-on:click="changeMonth(1)">></button>
      </th>

    </tr>
  <!-- Day Names -->
    <tr>
      <th class="name-days" v-for="n in 7">{{days[n - 1]}}</th>
    </tr>

  <!-- First Row of Days -->

    <tr>
      <span>
        <td :colspan="firstOfMonth" class="non-date" v-if="firstOfMonth > 0"></td>
      </span>

      <div>
        <td :class="findClass(new Date(currentYear, currentMonth, n))" v-for="n in (7 - firstOfMonth)">
          <div
            class="cal-container popover-thing"
            v-on:click="redrawPopover(currentYear, currentMonth, n)"
            data-toggle="popover">
            <p>{{n}}</p>
            <ul>
              <li v-for="shift in filteredShifts" v-if="shift.day === n"><a :href="'/shifts/' + shift.id">{{shift.time}}</a></li>
            </ul>
          </div>
        </td>
      </div>
    </tr>
  <!-- Remaining Rows -->

  <tr v-for="n1 in monthWeeks">
    <td :class="findClass(new Date(currentYear, currentMonth, (count + (n2-1) + (7 * (n1 - 1)))))" v-for='n2 in 7' v-if="(count + (n2-1) + (7 * (n1 - 1))) <= lastOfMonth">
        <div
          class="cal-container popover-thing"
          v-on:click="redrawPopover(currentYear, currentMonth, (count + (n2-1) + (7 * (n1 - 1))))"
          data-toggle="popover">
          <p> {{(count + (n2-1) + (7 * (n1 - 1)))}}</p>
          <ul>
            <li v-for="shift in filteredShifts" v-if="shift.day === (count + (n2-1) + (7 * (n1 - 1)))"><a :href="'/shifts/' + shift.id">{{shift.time}}</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </table>

  <!-- Popover STUFF -->


 </div>
