<div id="shifts">
  <h1>{{shift.day_of_week}}, {{shift.date}} --  {{shift.time}}</h1>
  <hr>
  <h2>Positions Assigned to Shift:</h2>
  <div v-for="position in shift.positions">
    <div v-if="position.quantity">
      <h3>{{position.position_name}} -- {{position.quantity}} needed:</h3>
      <ol>
        <li v-for="employee in position.assigned_employees">
          {{employee.full_name}} - {{employee.position}} -- <a v-on:click="unassignEmployee(employee)">Unassign</a>
        </li>
      </ol>
<!-- Think about using position ID and index number to assign model -->

      <div v-for="n in (position.quantity - position.assigned_employees.length)">
        <ul>
          <select v-model="form.form_id[] >
            <option v-for="employee in position.unassigned_employees" v-bind:value="employee">
              {{employee.full_name}}
            </option>
          </select>
          <button v-on:click="assignEmployee()">Assign Employee</button>
        </ul>
      </div>



      <br>
      <h5><a href="#">Remove Position From Shift</a></h5>
      <hr>
    </div>
  </div>
  <h2>Add Position to Shift</h2>
  <select v-model="newPosition">
    <option v-for="position in shift.positions" v-if="!position.quantity" v-bind:value="position.id">{{position.position_name}}</option>
  </select>
  -- How Many: <input type="text"> <button v-on:click="scheduleNewPosition">Add Position</button>


<br>
</div>






  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>






















<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1><!%= @shift.day_of_week.capitalize %>, <!%= @shift.date.strftime('%b %d') %>

<!%= @shift.time_start.localtime.strftime('%I:%M %p') %> - <!%= @shift.time_end.localtime.strftime('%I:%M %p') %>
</h1>

<!% if current_user.is_admin? %>
  <h5><!%= link_to "Edit Shift", "/shifts/#{@shift.id}/edit" %></h5>
<!% end %>
<hr>

<h2>Positions Assigned to Shift:</h2>

  <!% @shift_positions.each do |pos| %>
    <h2><!%= pos.position.position_name %> - <!%= pos.quantity %> needed:</h2>
    <ol>
      <!% pos.print_scheduled.each do |employee| %>
        <li><!%= "#{employee.first_name.capitalize} #{employee.last_name.capitalize} - #{employee.position.position_name}" %>  <!%= link_to "Unassign", "/employee_shifts/#{employee.find_shift_assign(@shift.id)}", method: :delete %></li>
      <!% end %>

    </ol>

    <!% pos.find_quantity.times do %>
      <!%= form_tag "/employee_shifts", method: :post do %>
        <input type="hidden" name="shift_id" value="<!%= @shift.id %>">
        <select name="employee_id">
          <!% @employees.each do |emp| %>
            <!% if emp.position_id == pos.position.id && !@shift.assigned_ids.include?(emp.id)%>
                <option value="<!%= emp.id %>"><!%= "#{emp.first_name} #{emp.last_name} - #{emp.position.position_name}" %></option>
            <!% end %>
          <!% end %>
        </select>
      <!%= submit_tag "Schedule Employee" %>
      <!% end %>
      <br>
    <!% end %>
    <h5><!%= link_to "Remove Position from Shift", "/position_shifts/#{pos.id}", method: :delete %></h5>
    <hr>
  <!% end %>

<br>



<!% if  current_user.is_admin? %>
  <h2>Add Position to Shift:</h2>
  <!%= form_tag "/position_shifts", method: :post do %>
      <input type="hidden" name="shift_id" value="<!%= @shift.id %>">

      <select name="position_id">
        <!% @positions.each do |pos| %>
          <!% if !@shift.position_ids.include?(pos.id)%>
            <option value="<!%= pos.id %>"><!%= pos.position_name %></option>

          <!% end %>
        <!% end %>
      </select>
       How Many: <input type="text" name="quantity"> <!%= submit_tag "Add Position" %>

  <!% end %>
  <br>
  <hr>
  <br>
  <div>
    <!%= link_to "Delete Shift", "/shifts/#{@shift.id}", method: :delete %>

  </div>

 <!% end %>
 -->