<h1>Company Analytics:</h1>

<div class="container">

<h2>SVG Graphics</h2>

<div id="viz"></div>

<svg id="graph"></svg>

<h2>Bar graph of shifts per month</h2>
<p>just shows when more shifts were done</p>
<p>maybe overlay quantity of employees during shifts</p>
<p>or break up the stack by employee type, layer the greatest on bottom, smallest on top</p>
<br>

<h2>Average shift distribution - number of employees there during shift of each type</h2>

<h2>Position shifts vs total shifts</h2>
<p>pie chart of position usage</p>


<br>
<h2>Employee bubble chart</h2>
<p>take average shift per month and show who is being shown preference.</p>

<h2>the really cool circular graph - called a sunburst</h2>
<p>first layer is shifts in that year, broken up to show months</p>
<p>second layer breaks up into days of shifts</p>
<p>third layer breaks up shift by position type</p>