<style>
  h2 {
    text-decoration: underline;
  }

  .graph {
    padding-left: 100px;
  }

  .pie {
    height: 360px;
    width: 360px;
    position: relative;
  }

  .rect .disabled {
    fill: transparent !important;
  }

</style>

<h1>Company Analytics:</h1>

<div class="container">


<h2>Bar graph of shifts per month</h2>
<br>
<div id="viz" class="graph"></div>

<h2>Distribution of Employees</h2>
<br>
<div id="chart" class="graph pie"></div>
<br>
<h2>Employee Monthly Shift Average</h2>
<br>

<!-- <div >
  <button id="combine">All</button>
  <!% @positions.each do |position| %>
    <button id="<!%= position.position_name %>"><!%= position.position_name %></button>
  <!% end %>

</div> -->

<div id="bubble_chart" class=" bubble"></div>





<br>