<style>
  h2 {
    text-decoration: underline;
  }

  .graph {
    padding-left: 100px;
  }

</style>

<h1>Company Analytics:</h1>

<div class="container">


<h2>Bar graph of shifts per month</h2>
<br>
<div id="viz" class="graph"></div>

<h2>Distribution of Employees</h2>
<br>
<div id="chart" class="graph"></div>

<h2>Employee bubble chart</h2>
<br>
<div id="bubble_plot" class="graph"></div>

<p>take average shift per month and show who is being shown preference.</p>

<h2>the really cool circular graph - called a sunburst</h2>
<p>first layer is shifts in that year, broken up to show months</p>
<p>second layer breaks up into days of shifts</p>
<p>third layer breaks up shift by position type</p>




<br>