<script src="//d3plus.org/js/d3plus.js"></script>
<style>
  h2 {
    text-decoration: underline;
  }

  .graph {
    padding-left: 100px;
  }


</style>

<h1>Company Analytics:</h1>

<div class="container">


<h2>Bar graph of shifts per month</h2>
<br>
<div id="viz" class="graph"></div>

<h2>Distribution of Employees</h2>
<br>
<div id="chart" class="graph pie"></div>

<h2>Employee bubble chart</h2>
<br>
<div id="bubble_plot" class="graph bubble"></div>



<p>take average shift per month and show who is being shown preference.</p>





<br>







