table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 5px #999;
    empty-cells: hide;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
}

#add-shift {
  width: 100%;
  text-align: right;
}

table {
  background: #F4F4F4;
}

.non-date {
  background: #F4F4F4;
}

th.main-calendar-head {
  height: 25px;
  font-size: 20px;
  background: rgba(230, 200, 160, 1);
  width: 100%;
}

.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 14%;
}

td {
  height: 100px;
  border: 1px solid #dddddd;
  background: white;
}

.calendar-text {
  font-size: 12px;
}

.name-days {
  background-color: #F4F4F4;
}

div.cal-container {
  height: 100%;
  width: 100%;
  padding: 0;
}

div.cal-container p{
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
  width: 12px;
  padding: 3px;
  // background: red;

  vertical-align: top;
  margin: -15px 0 0px 0;

}

div.cal-container li {
  font-size: 11px;
  line-height: 18px;
}


td.today {
  background: #F6D5D5;
  font-weight: bold;
  box-shadow: 0 0 2px #999;
  text-align: center;
  color: rgba(0,0,0, 0.5);

}

td.past {
  background: #EAEAEA;
  color: rgba(80,80,80, 0.2);
}


td.past a {
  color: rgba(35, 82, 124, 0.2);
  text-decoration: line-through;

}

.smaller-size {
  display: none;
}


@media all and (max-width: 720px) {
  .smaller-size{display:block;}
  .larger-size{display:none;}
}



// POPOVER STUFF

.popover {
  width: 100%;
  bottom: -50;
}

.popover-title {
  font-weight: bold;
  text-align: center;
}

.popover-content {
  text-align: center;
  padding-top: 10px;
}

.popover-content .form-button {
  color: black;
  text-align: right;
  margin-top: -10px;
}

.start-time {
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
}

.end-time {
  color: black;

}

.popover-content p {
  color: black;
}


