table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 5px #999;
    empty-cells: hide;
}

#add-shift {
  width: 100%;
  text-align: right;
}

.non-date {
  background: #F4F4F4;
}

th.main-calendar-head {
  height: 25px;
  font-size: 20px;
  background: rgba(230, 200, 160, 0.6);
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 14%;
}

td {
  height: 100px;
  border: 1px solid #dddddd;
  background: white;
}

.calendar-text {
  font-size: 12px;
}

div.cal-container {
  height: 100%;
  width: 100%;
  padding: 0;
}

div.cal-container p{
  text-align: left;
  text-decoration: underline;

  vertical-align: top;
  margin: -15px 0 0px 0;

}

div.cal-container li {
  font-size: 11px;
  line-height: 18px;
}


td.today {
  background: rgba(266, 90, 90, 0.2);
  font-weight: bold;
  box-shadow: 0 0 2px #999;
  text-align: center;

}

td.past {
  background: rgba(30,30,30, 0.05);
  color: rgba(80,80,80, 0.3);
}


td.past a {
  color: rgba(35, 82, 124, 0.3);
  text-decoration: line-through;

}

.smaller-size {
  display: none;
}


@media all and (max-width: 720px) {
  .smaller-size{display:block;}
  .larger-size{display:none;}
}
