.my-content  {
  width: 80%;
  margin: 0 auto;
}

div.test h2:before {
  display: block;
  content: " ";
  margin-top: -140px;
  height: 140px;
  visibility: hidden;
}

h2.modal-title {
  font-weight: bolder;
}


.shift-today {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 10px 20px;
  padding: 10px;
  background: #E75858;
  border-radius: 20px;
}

.shift-today a {
  color: white;
}

.shift-today a:hover {
  color: yellow;
}