.my-content  {
  width: 80%;
  margin: 0 auto;
}

div.test h2:before {
  display: block;
  content: " ";
  margin-top: -140px;
  height: 140px;
  visibility: hidden;
}

h2.modal-title {
  font-weight: bolder;
}