

.my-content  {
  width: 80%;
  min-width: 290px;
  margin: 0 auto;
}

div.test h2:before {
  display: block;
  content: " ";
  margin-top: -140px;
  height: 140px;
  visibility: hidden;
}

h2.modal-title {
  font-weight: bolder;
}

.test h2 {
  padding-bottom: 20px;
}


.shift-today {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 10px 20px;
  padding: 10px;
  background: #E75858;
  border-radius: 20px;
}

.shift-today a {
  color: white;
}

.shift-today a:hover {
  color: yellow;
}


.employee-show {
  height: 220px;
  padding: 10px 0px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

.employee-show img {
  border-radius: 100px;
}


.index-container {
  height: 100px;
}

.employee-index-photo {

}



.address h6 {
  line-height: 5px
}

.employee-index {
  margin-right: 15px;
}

.employee-index img {
  border-radius: 30px;
  margin-top: 5px;
  margin-left: 15px;

}

.true img {
  box-shadow: 0 0 3px #999;
}

@media all and (max-width: 720px) {
  .my-content {
    // text-align: center;
  }
  h1 {
    font-size: 15px;
  }
  .my-content h3 {
    font-size: 15px;
    line-height: 20px;
  }
  .my-content h6 {
    font-size: 12px;
  }
}